<div class="grid-container">


    <div class="grid-item" style="grid-column:2">
        <mat-card class="mat-card">
            <div mat-card-header>
                <mat-card-title>About me</mat-card-title>
            </div>
            <mat-card-content>
                <p>I'm a web developer based in Kuwait, specialising in building GIS web apps, consider myself full-stack developer
                    but I tend to work more on the front-end. I'm ambitious to deliver a high-quality GIS web apps using
                    <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> and Single Page Applications
                    (SPA) frameworks like <a href="https://angular.io/">Angular</a>. I like to apply Progressive Web Apps
                    (PWA) concepts in order to provide the best software solutions to the client.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="grid-item" style="grid-column:3">
        <mat-card class="mat-card">
            <mat-card-content>
                <mat-list mat-list class="mat-list">
                    <mat-list-item class="mat-list-item">
                        <mat-icon class="material-icons" mat-list-icon>location_on</mat-icon>
                        <span>{{profile.nationality}} live in {{profile.currentLocation}}</span>
                    </mat-list-item>
                    <mat-list-item class="mat-list-item">
                        <mat-icon class="material-icons" mat-list-icon>email</mat-icon>
                        <span>{{profile.email}}</span>
                    </mat-list-item>
                    <mat-list-item class="mat-list-item">
                        <mat-icon class="material-icons" mat-list-icon>link</mat-icon>
                        <a href="{{profile.website}}" target="blank">{{profile.website}}</a>
                    </mat-list-item>
                </mat-list>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="grid-item" style="grid-column:2">
        <mat-card class="mat-card">
            <div mat-card-header>
                <mat-card-title>Work History</mat-card-title>
            </div>
            <mat-card-content>
                <div class="item" *ngFor="let history of workHistory">
                    <h3 class="title">{{history.position}} -
                        <span class="place"><a href="{{history.CompanyURL}}" target="blank">{{history.companyName}}
                            </a></span> <span class="year">({{history.period}})</span>
                    </h3>
                    <p [innerHTML]="history.Description"></p>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-item" matTooltip="Home" matTooltipPosition="before" style="grid-column:3">
        <mat-card class="mat-card">
            <div mat-card-header>
                <mat-card-title>Skill Set</mat-card-title>
            </div>
            <mat-card-content>
                <div class="item" *ngFor="let skill of skillSet">

                    <h5>{{skill.name}} <span class="skillevel">{{skill.level}}</span></h5>
                    <mat-progress-bar class="mat-progress-bar" [color]="primary" [mode]="determinate" [value]="skill.value" [bufferValue]="75">
                    </mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-item" matTooltip="Home" matTooltipPosition="before" style="grid-column:2">
        <mat-card>
            <div mat-card-header>
                <mat-card-title>Projects</mat-card-title>
            </div>
            <mat-card-content>
                <div class="row" *ngFor="let project of projects">
                    <img class="img-responsive project-image col-mat-4 col-sm-4 col-xs-12" src="{{project.screenshot}}" />
                    <div class="desc col-mat-8 col-sm-8 col-xs-12">
                        <h3 class="title">{{project.name}} - {{project.startDate}}</h3>
                        <p [innerHTML]="project.description"></p>
                    </div>
                    <span *ngFor="let tech of project.usedTech" class="label label-primary">{{tech}}</span>
                </div>

            </mat-card-content>
        </mat-card>
        <!--
        <mat-card class="mat-card" *ngFor="let project of projects">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{project.screenshot}}">
            <mat-card-content>
                <p [innerHTML]="project.description">
                </p>
            </mat-card-content>

        </mat-card>-->


    </div>


    <div class="grid-item" style="grid-column:3">
        <mat-card class="mat-card">
            <div mat-card-header>
                <mat-card-title>Skill Set</mat-card-title>
            </div>
            <mat-card-content>
                <div class="item" *ngFor="let skill of gisSkills">
                    <h5>{{skill.name}} <span class="skillevel">{{skill.level}}</span></h5>
                    <mat-progress-bar class="mat-progress-bar" [color]="primary" [mode]="determinate" [value]="skill.value" [bufferValue]="75">
                    </mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>